<script data-main="js/zelda" src="{{ basePath }}/js/libs/require.js"></script>

{% if ( env == 'dev' ) %}

<script src="{{ basePath }}/js/libs/require.js" data-main="js/libs/less" type="text/javascript">
    (function(less){
        less.env = "development";
        less.watch();
    }(less));
</script>

{% else %}

{% endif%}