extends layout

block content
    canvas#zelda
    #preload.hidden
        #tiles
        #items
        #sprites
    #interface
        #cross

        #hands
            button(name='A')
            button(name='B')
        #status
            #life
                .heart
            #mana
                .bottle
        #inventory
            #bag
            #static