doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        title Zelda MMO - Mockup
        link(rel='icon', type='image/png', href='/favicon.png')
        link(type='text/css',rel='stylesheet',href='/css/zelda.css')

    body
        block content

        script(type='text/javascript', src='/js/zelda.js')