doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    title gotLoop - maquette
    link(rel='icon', type='image/png', href='/favicon.png')
    script(type='text/javascript', src='/js/libs/require.js',data-main='/js/zelda.js')
    link(type='text/css',rel='stylesheet',href='/css/zelda.css')

  body
    #gamescreen
        #tiles
        #items
        #sprites
    #interface
        #hands
        #status
    #inventory
        #bag
        #static